
@model RedditClone.Models.Community


<div class="panel-heading">@Model.Name</div>
<div class="panel-body">
    <strong>@Model.Description</strong>
    @*<i class="glyphicon glyphicon-user"></i> Community Owner: @Model.User.UserName*@
    <br />
    <b>Since:</b><span class="label label-success">@Model.CreationTime</span>
    <br />
</div>
