@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Aceasta aplicatie este o clona a site-ului Reddit si este creata cu scopuri
    pur didactice. Nu se doreste a se pune in vanzare in nici o forma</p>

<h3>@ViewBag.Message</h3>

<p>Platforma asemanatoare cu Reddit avand urmatoarele cerinte:</p>
<ul>
    <li>
        <p>
            sa existe 4 tipuri de utilizatori: vizitator neinregistrat, utilizator
            inregistrat, moderator si administrator. (0.5p)
        </p>
    </li>
    <li>
        <p>
            orice utilizator poate cauta grupuri in platforma (0.5p) si poate vizualiza
            informatii despre grupul respectiv si continutul acestuia, doar daca grupul
            nu este privat. (0.5p) Grupurile vor fi impartite pe categorii: muzica, hobby-
            uri, cultura, etc (create dinamic), existand posibilitatea de adaugare a noi
            categorii (adminul poate face CRUD pe categorii). (0.5p)
        </p>
    </li>
    <li>
        <p>
            utilizatorii inregistrati pot crea grupuri noi sau se pot alatura altor
            grupuri. (0.5p). Utilizatorul care a creat un grup devine implicit
            moderatorul grupului respectiv (ceea ce inseamna ca poate sterge grupul
            daca doreste). (1.0p)
        </p>
    </li>
    <li>
        <p>
            utilizatorii inregistrati pot comenta si vota orice postare sau comentariu
            (0.5p).
        </p>
    </li>
    <li>
        <p>
            in cazul grupurilor private moderatorul grupului poate accepta membrii
            noi sau poate revoca membrii care au un comportament neadecvat. (0.5p)
            Moderatorul poate sa interzica anumitor membrii sa posteze (sa
            comenteze), fara a-i elimina din grup. Acestia pot in continuare sa
            vizualizeze postarile si comentariile din grup. (0.5p)
        </p>
    </li>
    <li>
        <p>
            membrii unui grup pot adauga postari scrise, fisiere, comentarii si pot
            adauga noi activitati in calendarul grupului (0.5p). Fisierele adaugate vor
            putea fi descarcate de catre toti membrii grupului. (0.5p)
        </p>
    </li>
    <li>
        <p>
            membrii unui grup pot fi vizualizati intr-o lista separata, doar de catre
            moderator/administrator. (0.5p)
        </p>
    </li>
    <li>
        <p>
            un utilizator inregistrat poate sa faca parte din mai multe grupuri. Astfel
            utilizatorul are la dispozitie o lista cu grupurile din care face parte. (0.5p)
        </p>
    </li>
    <li>
        <p>
            administratorul se ocupa de buna functionare a platformei. Acesta poate
            sterge grupurile care au continut neadecvat,fisiere,mesaje, etc. , sau poate
            revoca drepturile utilizatorilor si editorilor. (1.5p). Daca se implementeaza
            doar functionalitatea de activare sau revocare a drepturilor utilizatorilor –
            (0.5p)
        </p>
    </li>
    <li>
        <p>Se acorda 1pct din oficiu</p>
    </li>
</ul>
