@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post" action="/Community/New">
            <label>Nume</label>
            <input type="text" name="Name" />
            <label>Descrierea noii cumunitati</label>
            <input type="text" name="Description" />
            <button type="submit">Adauga</button>
        </form>
    </div>
</body>
</html>
